.is-active {
  /*color: #11ebec !important;*/
  border-bottom: 3px solid #11ebec;
}
.nav-link:focus {
  color: white;
}

.nav-link {
  text-decoration: none;
  color: white;
  display: inline-block;
  border-bottom: 3px solid #5d5d5d;
}

.nav-link:hover {
  text-decoration: none;
  color: white;
  border-bottom: 3px solid;
}
